<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Change Password</h2>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <a href="/newcolor" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Color</a>
    </div>
    <div class="col-xs-7">
      <input type="text" class="form-control" ng-model="query" placeholder="Search for a color">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"><hr></div>
  </div>
  <div class="row" ng-switch on="colors.length">
    <ul ng-switch-when="0">
      <li>No colors in databases. Would you like to <a href="#/new">create one</a>?</li>
    </ul>
    <ul class="no-bullet" ng-switch-default>
      <li ng-repeat="color in colors | filter: query">
        <img width="200px" ng-src="{{color.image_secureurl}}" class="img-responsive" style="border:1px solid black" alt="Placeholder image"/>
        <span>Textfärg: {{color.textcolor}}</span>
        <span>Backgrundsfärg: {{color.backcolor}}</span>
        <hr/>
      </li>
    </ul>
  </div>
</div>
