/* Image container */
.image-ctn img{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	transition: all .2s;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.image-ctn img:hover {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}
/* box-shadow if selected  */
.op-selected {
	border: rgba(226, 126, 47, 1) 5px solid;
	border-radius: 10px;
	background-image: none;
	-moz-box-shadow: 0 8px 6px -6px rgba(226, 126, 47, .5);
	-webkit-box-shadow: 0 8px 6px -6px rgba(226, 126, 47, .5);
	box-shadow: 0 8px 6px -6px rgba(226, 126, 47, .5);
}
.image-ctn button{
	margin-top: 10px;
}
.spinner-loading{
  width: 300px;
  height: 300px;
}

@media (max-width: 640px) {
	.image-ctn {
    margin: 0 auto;
    max-width: 300px;
	}
  .image-ctn button{
    margin-top: 5px;
  }
.image-ctn .col-md-4{
    width:100%;
    padding-bottom: 20px;
}
}

.progress-bar {
  background-color: white !important;
  color: black !important;
  border-right: 2px solid rgba(226, 126, 47, 0.4);
}
