<uib-progressbar max="maxval" value="value">
  Fråga {{currentQuestion}} av {{totalQuestions}}
</uib-progressbar>

<div class="container top">
  <div class="page-header">
    <h1 class="text-center">Vilken text är lättast att läsa?</h1>
  </div>
  <circle-spinner ng-show="loading"></circle-spinner>
  <div ng-hide="loading">
    <div class="row image-ctn fadeIn">
        <div class="col-md-4 col-xs-6 col-md-offset-2">
          <a><img ng-class="{true: 'op-selected'}[poll.userVote == 'choice_alt1']"  ng-src="{{poll.img1_url}}" alt="Färgkombination 1" ng-click="vote('choice_alt1')" ng-model="poll.userVote" class="img-responsive" /></a>
          <button tabindex="-1" ng-if="poll.userVote == 'choice_alt1'" class="btn" alt="Färgkombination 1 vald" ng-model="poll.userVote" ng-click="vote('choice_alt1')" btn-radio="'choice_alt1'">Vald</button>
          <button tabindex="-1" aria-label="Välj färgkombination 1" ng-if="poll.userVote != 'choice_alt1'" class="btn" ng-model="poll.userVote" alt="Välj" ng-click="vote('choice_alt1')" btn-radio="'choice_alt1'">Välj</button>
        </div>
        <div  class="col-md-4 col-xs-6">
          <a><img ng-class="{true: 'op-selected'}[poll.userVote == 'choice_alt2']" ng-src="{{poll.img2_url}}" alt="Färgkombination 2" ng-model="poll.userVote" ng-click="vote('choice_alt2')" class="img-responsive"/></a>
           <button tabindex="-1" ng-if="poll.userVote == 'choice_alt2'" alt="Färgkombination 2 vald" class="btn" ng-model="poll.userVote" ng-click="vote('choice_alt2')" btn-radio="'choice_alt2'">Vald</button>
           <button tabindex="-1" aria-label="Välj färgkombination 2" ng-if="poll.userVote != 'choice_alt2'" class="btn" ng-model="poll.userVote" ng-click="vote('choice_alt2')" btn-radio="'choice_alt2'">Välj</button>
        </div>
    </div>
    <hr/>
  </div>
</div>
