

.explanation {
  position: absolute;
  top: 200px;
  left: 155px;
  width: 120px;
  vertical-align: middle;
  text-align: center;
  color: #666;
  z-index: 10;
}

.valueInfo {
  font-size: 1.5em;
}
