.form-top {
    padding:15px;
    background: #fafafa;
    text-align: left;
    width:100%;
    margin:0 auto;
}
.form-group.kon label{
    font-size: 20px;
    font-weight: 400;
}
.form-group.kon input{
    margin: 0px 5px 0px 5px;
    font-size: 20px;
}
.form-group{
    padding: 6px 0px;
}
.input-group input{
    padding:20px;
    border-radius: 5000px !important;
}
.checkbox-inline {
    padding-left:40px;
    font-size: 20px;
}
input[type=checkbox], input[type=radio]{
     zoom:200%;
     margin:1px 0px;
}
/* StartTest btn */
.btn-final {
  margin:7px;
  font-size: 1.3em;
  line-height: 1;
  padding: 15px;
  border-radius: 5000px !important;
}

.btn-final:hover{
  opacity: 0.7;
  color:#ffffff;
}
