<div class="container jumbotron">			
			<div class="form-top row final-form">
	<form role="form" ng-submit="submit()">

	<h2>Vi behöver veta lite mer om dig för att kunna få ett så bra resultat som möjligt</h2>
    <hr />
    		<div class="form-group"><p>Kön</p>
				  <label><input type="radio" name="optradio">Kvinna</label>
				  <label><input type="radio" name="optradio">Man</label>
				  <label><input type="radio" name="optradio">Vill ej ange</label>
				  <label><input type="radio" name="optradio">Annat</label>
			</div>
		<div class="form-group">
			<label for="disabilities">
				<p>Har du problem med något av nedanstående? - Med problem menar vi att det skapar svårigheter för dig i din vardag</p>
			</label>
			<div class="btn-group" id="disabilities">
			        <label ng-repeat="disability in disabilitiesModel" class="btn btn-default" ng-model="disability.state" ng-disabled="noDisabilities" btn-checkbox>{{disability.name}}</label>
		    </div>
		    <div class="input-group col-xs-12 col-sm-12 col-md-12">
	        	<span class="input-group-addon">Annan:</span>
	        	<input type="text" class="form-control" ng-disabled="noDisabilities" placeholder="Fyll i om du har någon annan funktionsnedsättning">
	        </div>
	        <label class="checkbox-inline">
	            <input type="checkbox" name="optionDisability" ng-model="noDisabilities" id="optDisability" value="false">Nej, jag har ingen funktionsnedsättning
	        </label>
		</div>
		<div class="form-group">
			<label for="diagnoses">
				<p>Har du någon diagnos?</p>
			</label>
			<div class="btn-group" id="diagnoses">
			        <label ng-repeat="diagnose in diagnosesModel" class="btn btn-default" ng-model="diagnose.state" ng-disabled="noDiagnoses" btn-checkbox>{{diagnose.name}}</label>
		    </div>
		    <div class="input-group col-xs-12 col-sm-12 col-md-12">
	        	<span class="input-group-addon">Annan:</span>
	        	<input type="text" class="form-control" ng-disabled="noDiagnoses" placeholder="Fyll i om du har någon annan diagnos">
	        </div>
	        <label class="checkbox-inline">
	            <input type="checkbox" name="optionDiagnose" ng-model="noDiagnoses" id="optDiagnose" value="false">Nej, jag har ingen diagnos
	        </label>
		</div>
		<div class="form-group">
		<div class="col-md-2 col-md-offset-5"><button type="submit" class="btn btn-primary">Skicka in</button></div>
		    
		  </div>
	</form></div>
</div>