<div class="container jumbotron">
  <div class="form-top row final-form">

    <form name="finalForm" novalidate>

      <h2>Vi behöver veta lite mer om dig för att kunna få ett så bra resultat som möjligt</h2>

      <fieldset class="form-group">
        <legend>1. Har du problem med något av nedanstående? <span style="color:red;" aria-label="Obligatorisk">*</span></legend>
        <p class="help-block">Med problem menar vi att det skapar svårigheter för dig i din vardag</p>
        <div class="form-group btn-group" id="disabilities">
          <label class="btn-default btn-final" ng-repeat="disability in disabilitiesModel">
            <input type="checkbox" ng-disabled="noDisabilities" ng-change="checkDisabilities()" ng-model="disability.state">{{disability.name}}
          </label>
        </div>
        <div class="form-group input-group col-xs-12 col-sm-12 col-md-12"><label for="otherDisability">
          Fyll i om du har någon annan svårighet:</label>
          <input type="text" class="form-control" id="otherDisability" ng-model="otherDisability"
                 ng-disabled="noDisabilities" ng-change="checkDisabilities()">
        </div>
        <label class="form-group check-box">
          <input type="checkbox" name="optionDisability" ng-change="checkDisabilities()" ng-model="noDisabilities"
                 id="optDisability"><span>Nej, jag har ingen speciell svårighet</span>
        </label>

       <!-- <p class="error text-danger" ng-show="!disabilitiesSelected">Välj minst en svårighet </p>-->
      </fieldset>
      <fieldset class="form-group" ng-disabled="!disabilitiesSelected">
        <legend>2. Har du någon diagnos? <span style="color:red;" aria-label="Obligatorisk">*</span></legend>
        <div class="input-group">
          <div class="form-group btn-group" id="diagnoses">
            <label class="btn-default btn-final" ng-repeat="diagnose in diagnosesModel">
              <input type="checkbox" ng-change="checkDiagnoses()" ng-disabled="noDiagnoses" ng-model="diagnose.state"> {{diagnose.name}}
            </label>
          </div>
          <div class="form-group input-group col-xs-12 col-sm-12 col-md-12"><label for="otherDiagnose">
            Fyll i om du har någon annan diagnos</label>
            <input type="text" class="form-control" id="otherDiagnose" ng-change="checkDiagnoses()" ng-model="otherDiagnose" ng-disabled="noDiagnoses">
          </div>
          <label class="form-group check-box">
            <input type="checkbox" name="optionDiagnose" ng-change="checkDiagnoses()" ng-model="noDiagnoses"
                   id="optDiagnose"><span>Nej, jag har ingen diagnos</span>
          </label>

        </div>

        <!--<p class="error text-danger" ng-show="!diagnosesSelected">Välj minst en diagnos </p> -->

      </fieldset>
        <div class="form-group">
        <button type="submit" class="btn btn-start" ng-click="submit()" ng-disabled="!disabilitiesSelected || !diagnosesSelected">Skicka in</button>
      </div>

    </form>
  </div>
</div>
