<!-- add consent attribute to any element -->
<!-- to expose $consent controller to children -->
<section consent>
<div class="alert alert-info top-alert cookie-alert" role="dialog" ng-if="$consent.hasNotAgreedYet()">
<div id="cookiewarning"><!-- cookie warning --></div>
<div class="container">
      <div class="row">
         <div class="col-xs-12">
            <h3><i class="icon-info"></i> Vi använder kakor</h3>
         </div>
      </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-9">
        <p>
          Ditt besök på Funkas webbplats blir bättre med hjälp av kakor (cookies). Genom att fortsätta använda webbplatsen godkänner du att vi använder dem.
        </p>
            <p class="normal">
               <a href="#Kakor">Om cookies och personuppgifter</a>
            </p>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-2 col-sm-offset-1 ">
        <a ng-click="$consent.agree();" class="btn btn-sm btn-block" href="#">JAG FÖRSTÅR</a>  
      </div>
    </div>
  </div>
  </div>
</section>
<div class="corner-wrapper fadeIn">
<!-- TopWrapper -->
	<div class="corners-top-wrapper fadeIn">
		<!-- TopLeft -->
		<div class="corners corner--t-l"><img alt="Funka, logotyp"  src="assets/images/logo_funka.svg" width="100px"></div>
		<!-- TopMiddle -->
		<div class="corners corner--t-m hidden-xs"></div>
		<!-- TopRight -->
		<div class="corners corner--t-r js-fade-this">
			<div class="hidden-xs">
				<!-- Facebook Like/ Share -->
				<!--<div id="fb-root"></div>
				<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>-->
				<div class="menu-wrapper">
				</div>
			</div>
		</div>
	</div>
	<!-- BottomWrapper -->
	<div class="corners-bottom-wrapper">
		 <div ng-include src="'components/navbar/navbar.html'"></div>
	</div>
</div>
