
<nav ng-show="isLoggedIn()"  class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">

  <div class="container ">

    <div class="row">
      <div class="navbar-header">
      </div>
      <div id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{active: isActive('/dashboard')}"><a href="/dashboard"><span class="glyphicon glyphicon-dashboard"/> Översikt</a></li>
           <li ng-class="{active: isActive('/viewdetails')}"><a href="/viewdetails"><span class="glyphicon glyphicon-dashboard"/> Detaljvy</a></li>
          <li ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"/> Inställningar</a></li>
          <li ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"/> Logga ut</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>
