
<nav ng-show="isLoggedIn()"  class="navbar navbar-default" ng-controller="NavbarCtrl">

  <div class="container ">

    <div class="row">
     <div class="navbar-heawder">
          </div>
      <div id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
           <li ng-class="{active: isActive('/viewdetails')}"><a href="/viewdetails"><i class="glyphicon glyphicon-dashboard"></i> Start</a></li>
          <li ng-class="{active: isActive('/settings')}"><a href="/settings"><i class="glyphicon glyphicon-cog"></i> Inställningar</a></li>
          <li ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Logga ut</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>
