
<nav ng-show="isLoggedIn()"  class="navbar navbar-default" ng-controller="NavbarCtrl">

  <div class="container ">

    <div class="row">
     <div class="navbar-heawder">
          </div>
      <div id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
           <li ng-class="{active: isActive('/viewdetails')}"><a href="/viewdetails"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Start</a></li>
          <li ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Inställningar</a></li>
          <li ng-class="{active: isActive('/logout')}"><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logga ut</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>
