
<nav class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">

  <div class="container ">
    <div class="row">
  <progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success"><span count-to="{{countTo}}" duration="1" count-from="{{countFrom}}"></progressbar>
      <div class="btn-group btn-group-justified">
      <div ng-repeat="item in menu" ui-sref-active-eq="active" ui-sref-active="active" ng-class="{active: isActive(item.link)}" class="navbar-progress">{{item.title}}<!--<span ng-if="item.title == 'Test'"> {{currentQuestion}} / {{totalQuestions}}</span>--></div>

<!--<div ng-class="{active: isActive('item.link')}" ng-controller="TestCtrl"><pagination  next-text="-" previous-text="-" items-per-page="itemsPerPage" total-items="totalQuestions" ng-model="currentQuestion" ng-change="questionChanged()"></pagination></div>-->

      </div>

    </div>
</span></div></nav>

<div class="corner-wrapper">
<!-- TopWrapper -->
    <!--<div class="corners-top-wrapper fadeIn">-->
      <!-- TopLeft -->
          <!--<div class="corners corner--t-l hidden-xs"><button type="button" class="btn" ng-click="prevPage()">Tillbaka</button></div>-->
      <!-- TopMiddle -->
      
       <!-- TopRight -->
     <div ng-show="checkQuestion()" class="corners corner--t-r js-fade-this fadeIn">
         <button type="button"  class="btn" ng-click="nextPage()"> Fortsätt </button></div>
    </div>
    <!-- BottomWrapper -->
    <div ng-if="currentQuestion" class="corners corner--b-m"> {{currentQuestion}} / {{totalQuestions}}</div>
    <div ng-show="isLoggedIn()"  class="corners-bottom-wrapper hidden-xs">
        <div ng-include src="'components/navbar/navbar.html'"></div>
    </div>


</div>