
/* StartTest btn */
.btn-start {
  font-size: 1.5em;
  line-height: 1;
  padding: 17px;
  border-radius: 5000px !important;
  font-weight: 700;
  border: rgba(226, 126, 47, 0.5) 2px solid !important;
}
.btn-div{
  padding: 20px 20px 0px 20px;
}
.btn-start:hover{
  color:#ffffff;
}

/* descriptionText */
.lead{
    line-height: 1.8em;
    padding:20px;
    margin: 0 auto;
    text-align: left;
}


@media (max-width: 640px) {
.lead{
    font-size:120% !important;
    line-height: 1.5em;
}
}
