.odd{
    background: #ccc;
    margin: 0.2em 0;
    padding: 0.2em 0;
}

.even{
	background: #fff;
    margin: 0.2em 0;
    padding: 0.2em 0;
}

.questionBlock{
    max-width:700px;
    width:100%;
    margin:0 auto;
}
/* Used for horizontal spacing between radiobuttons*/
.blocks .btn-default
{
    margin: 0 20px;  
    border-radius: 0;
}
