<div class="page-header">
	<h1>Create New Color</h1>
</div>
<div class="row text-center">
	<div class="col-md-4 col-md-offset-2">
		<canvas class="img-responsive" id="myCanvas" width="752px" height="751px"></canvas>
	</div>
</div>

<form role="form" ng-submit="createColor()">
	<div class="form-group col-md-offset-3">
		<label for="textColor">Text color</label>
		<input type="color" ng-model="textcolor" id="textColor" name="textcolor">
	</div>
	
	<div class="form-group col-md-offset-3">
		<label for="backgroundColor">Background color</label>
		<input type="color" ng-model="backcolor" id="backgroundColor" name="backgroundcolor">
	</div>
	<!-- <div class="form-group">
		<label>Choices</label>
		<div ng-repeat="choice in poll.choices">
			<input type="text" ng-model="choice.text" class="form-control" placeholder="Enter choice {{$index+1}} text"><br>
		</div>
	</div>		
	
	<div class="row">
		<div class="col-xs-12">
			<button type="button" class="btn btn-default" ng-click="addChoice()"><span class="glyphicon glyphicon-plus"></span> Add another</button>
		</div>
	</div>
	
	<p><hr></p>
	
	<div class="row">
		<div class="col-xs-6">
			<a href="#/polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List</a>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-primary pull-right" type="submit">Create Poll &raquo;</button>
		</div>
	</div> -->
	<div class="row">
		<input type="submit" class="btn btn-default col-md-offset-3" value="Create color combination"/>
	</div>
	<!-- <p>&nbsp;</p> -->
</form>
