<div class="container jumbotron">
  <div class="row">
    <div class="col-sm-12">
      <h1>Registrera konto</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Namn</label>

          <input type="name" name="name" class="form-control" ng-model="user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            Namn är obligatoriskt. 
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            E-mailadressen ser inte ut att vara korrekt ifylld.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            Vad är din e-mailadress?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Lösenord</label>

          <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Lösenordet måste innehålla minst 3 tecken.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Registrera
          </button>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
