<div class="container jumbotron-large">
  <h1>Översikt</h1>
  <div class="row">

    <div class="col-md-7 antal">
    <h3>Antal genomförda tester: {{numOfCompletedTests}}</h3>
    </div>
    <div class="col-sm-5 text-right dwn">
      <span class="pointer"><i ng-click="exportExcel()" class="fa fa-file-excel-o fa-2x" style="color:green;"></i></span>
      <span class="pointer"><i ng-click="exportPdf()" class="fa fa-file-pdf-o fa-2x" style="color:red"></i></span>
      <span class="pointer" ng-click="exportJSON()">JSON</span>
      <span class="pointer" ng-click="exportCSV()">CSV</span>
    </div>
  </div>
  <h4>Välj funktionsnedsättningar och/eller diagnoser</h4>
  <div class="btn-group" id="disabilities">
    <button type="checkbox" ng-repeat="opt in optionsModel" class="btn btn-default btn-final" ng-model="opt.state" ng-click="filter(opt)" btn-checkbox>{{opt.name}}</label>
  </div>
  <span id="filterText" ng-show="filteredOptions.length != 0">Valt filter: <span ng-repeat="opt in filteredOptions">| {{opt}} </span></span>
  <div class="row-padding"><h2>Rankinglista</h2></div>
  <div class="table-responsive" ng-show="showResult">
    <table class="table table-striped export-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Färg</th>
        <th>Ranking</th>
        <th>Antal röster</th>
        <th>Antal visningar</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="color in colors | orderBy:'totalRating':-1">
        <td>{{$index+1}}</td>
        <td><img height="20%" src="{{color.image_secureurl}}"><br /><span>Textfärg: {{color.textcolor}}</span>
          <span>Backgrundsfärg: {{color.backcolor}}</span></td>
        <td>{{color.totalRating | number: 0}}</td>
        <td>{{color.totalNumOfVotes | number: 0}}</td>
        <td>{{color.totalNumOfTimesInTest | number: 0}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="corners-bottom-wrapper">
  <div ng-include src="'components/navbar/navbar_bottom.html'"></div>
</div>
